.callback {
  background-color: #f4f4f4;
  padding: 30px 15px 42px;

  & h2 {
    @include flex-center-center;
    span {
      font-family: $font-montserrat;
      font-weight: $font-weight-bold;
      color: $black;
      font-size: 24px;
      display: inline-block;
      margin-right: auto;
      margin-left: auto;

      &:nth-child(2) {
        display: none;
      }
    }
  }
  & form {
    margin-top: 24px;
    @include flex-column-center;

    & div {
      @include flex-column-center;
      width: 100%;
    }
  }

  &__input {
    width: 290px;
    padding: 16px 26px;
    margin-top: 15px;
    font-family: $font-montserrat;
    font-weight: $font-weight-normal;
    color: #c8cbcf;
    font-size: 14px;
    text-align: left;
    border-radius: 21px;
    background-color: $white;
    border: none;
  }

  &__input:focus {
    outline: none;
  }

  &__btn {
    width: 140px;
    padding: 16px 0;
    margin-top: 21px;
    font-family: $font-montserrat;
    font-weight: $font-weight-normal;
    color: $white;
    font-size: 13px;
    text-align: center;
    border-radius: 21px;
    background-color: $violet-light;
    border: none;
  }
}

@media screen and (min-width: 481px) {
  .callback__input {
  }
  .callback h2 span:first-child {
    display: none;
  }
  .callback h2 span:nth-child(2) {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .callback form div {
    @include flex-row-center;

    & input:first-child {
      margin-right: 36px;
    }
  }
}

@media screen and (min-width: 993px) {
  .callback {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 46px 15px 46px;

    & form div input {
      //margin-right: 20px;
    }
    & form {
      @include flex-row-center;
      margin-top: 0;
    }

    &__input {
      margin-top: 0;
    }

    & input:first-child {
      margin-right: 0;
    }

    &__btn {
      margin-top: 0;
    }

  }
}
