.footer {
  background-color: $white;
  @include flex-column;
  padding: 40px 20px 0;

  @media screen and (min-width: 401px) {
    @include flex-column;
    padding: 40px 35px 0;
  }

  @media screen and (min-width: 481px) {
    @include flex-row-between;
    flex-wrap: wrap;
    padding: 60px 38px 0;
  }

  @media screen and (min-width: 993px) {
    @include flex-row-between;
    padding: 60px 90px 0;
  }

  .site-description {
    margin-bottom: 36px;

    @media screen and (min-width: 481px) {
      width: 45%;
    }

    @media screen and (min-width: 993px) {
      width: 24%;
    }

    .logo {
      @media screen and (min-width: 401px) {
        @include flex-row;

      }

      &__img {
        display: none;
        width: 43px;
        height: 41px;
        @media screen and (min-width: 401px) {
          margin-right: 18px;
          display: inline-block;
          width: 43px;
          height: 41px;
        }
      }

      &__text {
        font-family: $font-montserrat;
        font-weight: $font-weight-normal;
        color: $violet-light;
        font-size: 24px;
        text-align: left;
        text-transform: uppercase;
        margin-left: 0;

        &:hover {
          color: $black;
        }
      }

      &__text_black {
        font-family: $font-montserrat;
        font-weight: $font-weight-normal;
        color: $black;
        font-size: 24px;
        text-align: left;

        &:hover {
          color: $violet-light;
        }
      }
    }

    &__text {
      font-family: $font-montserrat;
      font-weight: $font-weight-normal;
      color: $grey;
      font-size: 14px;
      text-align: justify;
      text-transform: initial;
      margin-top: 36px;
      line-height: 23px;
    }
  }

  .footer-navigation {
    margin-bottom: 36px;

    @media screen and (min-width: 481px) {
      width: 45%;
    }

    @media screen and (min-width: 993px) {
      width: 13%;
    }

    &__title {
      font-family: $font-montserrat;
      font-weight: $font-weight-normal;
      color: $black;
      font-size: 16px;
      text-align: left;
      margin-bottom: 36px;
    }

    .footer-nav {

      &__item {
        font-family: $font-montserrat;
        font-weight: $font-weight-normal;
        font-size: 15px;
        text-align: left;
        margin-top: 15px;
      }
      &__link {
        color: $violet-light;

        &:hover {
          border-bottom: 1px solid $violet-light;
        }
      }
    }
  }

  .site-contacts {
    margin-bottom: 36px;

    @media screen and (min-width: 481px) {
      width: 45%;
    }

    @media screen and (min-width: 993px) {
      width: 24%;
    }

    .contact-phone {

      &__number {
        font-family: $font-montserrat;
        font-weight: $font-weight-bold;
        color: $black;
        font-size: 30px;
        text-align: left;
      }
      &__work-time {
        font-family: $font-montserrat;
        font-weight: $font-weight-normal;
        color: $grey;
        font-size: 12px;
        text-align: left;
        margin-top: 15px;
      }
    }
    .contact-address {

      &__city {
        font-family: $font-montserrat;
        font-weight: $font-weight-normal;
        color: $black;
        font-size: 16px;
        text-align: left;
        margin-top: 36px;
        margin-bottom: 20px;

        &-place {
          font-family: $font-montserrat;
          font-weight: $font-weight-normal;
          color: $grey;
          font-size: 14px;
          text-align: left;
          line-height: 23px;
        }
      }
    }
  }

  .site-description {
    margin-bottom: 36px;

    @media screen and (min-width: 481px) {
      width: 45%;
    }

    @media screen and (min-width: 993px) {
      width: 24%;
    }

    &__title {
      font-family: $font-montserrat;
      font-weight: $font-weight-normal;
      color: $black;
      font-size: 16px;
      text-align: left;
    }
  }
}