.container {
  margin: 0 auto;
  &__menu{
    width: 100%
  }
}
.navbar{
  background-color: #222125;
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: $font-montserrat;
  &__block{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
  }
  &__list{
    font-size: 16px;
    font-weight: $font-weight-bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    &-item{
      transition: 0.5s;
    }
  }
  .logo__text, &__list{
    color: #8e82ad;
  }
}

.logo{
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 10px;
  &__text{
    font-weight: $font-weight-bold;
    display: inline-block;
    margin-left: 10px;
  }
}
.logo:hover{
  .navbar_logo{
    content: url("/dist/img/img_part1/LogoHover.png");
  }
  .logo__text{
    color: white;
  }
}
.navbar__list-item:hover{
  color: white;
}


.purple__btn{
  background-color: $violet-light;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 20px;
  display: inline-block;
  transition: 0.5s;
  cursor: pointer;
  border: transparent 1px solid;
}
.buy__btn{
  font-family: $font-lato;
  color:  #ffffff;
  text-decoration: none;
}
.menu {
  display: none;
}
.purple__btn:hover{
  background-color: white;
  .buy__btn{
    color: $violet-light;
  }
}


@media screen and (min-width: 360px) {
  .none{
    display: none;
  }
  .menu_btn{
    display: inline-block;
    width: 26px;
    height: 21px;
  }
  .close-menu{
    display: none;
  }
  .navbar__list{
    margin-top: 22px;
  }
  .burger{
    width: 27px;
    height: 21px;
    margin-bottom: 6px;
    &-long{
      display: block;
      border: none;
      background-color: #e6e4e4;
      color: #e6e4e4;
      height: 4px;
      margin-top: 5px;
      border-radius: 5px;
    }
    &-sort{
      margin-left: 9px;
      border: none;
      background-color: #e6e4e4;;
      color: #e6e4e4;
      height: 4px;
      width: 18px;
      margin-top: 5px;
      border-radius: 5px;
    }

  }
  .navbar{
    &__block{
      justify-content: space-between;
    }
  }
  .container__menu{
    display: none;
  }
  .container{
    padding-left: 15px;
    padding-right: 15px;
  }
.logo{
  &__text{
    display: none;
  }
}
  .buy__btn{
    font-size: 15px;
    margin-left: 25px;
    margin-right: 25px;
  }
  .active{
    display: block;
  }
  .menu{
    color: #e6e4e4;
    display: inline-block;
    font-size: 34px;
    cursor: pointer;
    &__list{
      width: 100%;
      line-height: 108px;
      background-color: #303030;
      color: white;
      text-align: left;
      position: absolute;
      left: 0;
      top: 101px;
      padding-left: 33px;
      &-item{
        position: relative;
      }
    }

    &__list-item:hover{
      color: $violet-light;
    }
    &__list-item::before {
      content: '';
      height: 53px;
      border-left: 3px $violet-light solid;
      position: absolute;
      left: 0;
      opacity: 0;
    }
    &__list-item:hover::before  {
      opacity: 1;
      position: absolute;
      left: -33px;
      top: 25px;
    }
    &__list-item{
      font-size: 32px;
      background-color: #303030;
    }
  }
  .fas:hover .menu__list{
    display: block;
  }

}

@media screen and (min-width: 401px) {
  .container{
    padding-left: 27px;
    padding-right: 27px;
  }
  .logo{
    &__text{
      display: inline-block;
    }
  }
}
@media screen and (min-width: 481px) {
  .container{
    padding-left: 20px;
    padding-right: 20px;
  }
  .menu{
    display: none;
  }

  .container__menu{
    display: flex;
    justify-content: space-around;
    .navbar__list{
      top: 26px;
      &-item{
        margin-left: 30px;
      }
    }
  }
  .purple__btn{
    position: static;
  }
  .container__menu{
    position: static;
  }
}
@media screen and (min-width: 993px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
    &__menu {
      position: static;
      top: 0;
    }
  }
  .navbar__list{
    margin-top: -34px;
  }
  .purple__btn {
    position: relative;
  }
}
@media screen and (min-width: 1201px) {
   .container {
     max-width: 1300px;
   }
}
