.pricing{
  padding-top: 73px;
  padding-bottom: 149px;
  background: url("/dist/img/img_part1/back_pricing.png") no-repeat;
  background-size: cover;
  background-position: center;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  font-family: $font-montserrat;
  &__title{
    font-weight: $font-weight-bold;
    margin-bottom: 122px;
  }
  &__block{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 122px;
  }
  &__section{
    display: inline-block;
    margin-bottom: 14px;
    margin-left: 8px;
    margin-right: 8px;
  }
  &__haeder{
      background-color: #735f6b;
      width: 257px;
  }
  &__class{
    font-weight: $font-weight-normal;
    font-size: 24px;
  }
  &__body{
    padding-bottom: 38px;
    padding-top: 32px;
    background-color: rgba(255, 255, 255, 0.11);
  }
  &__doll{
    display: inline-block;
    font-size: 60px;
  }
  &__cost{
    font-size: 60px;
    font-weight: $font-weight-bold;
    margin-bottom: 24px;
    display: inline-block;
  }
  &__month{
    text-transform: uppercase;
    font-size: 14px;
    color: #968890;
    display: block;
    line-height: 20px;
    margin-bottom: 95px;
  }
  &__month:after{
    content: '';
    width: 60px;
    border-bottom: 5px #8d81ac solid;
    position: absolute;
    display: block;
    margin-left: 98px;
    margin-top: 30px;
  }
  &__text-height{
    height: 44px;
    line-height: 44px;
  }
  &__text{
    font-size: 16px;
    line-height: 20px;
    text-transform: capitalize;
  }
  &__btn{
    background-color: #7c6d7d;
    padding: 16px 37px;
    border-radius: 35px;
    display: inline-block;
    margin-top: 37px;
    transition: 0.5s;
    line-height: 0;
  }
  .purchase__btn{
    text-transform: uppercase;
    font-weight: $font-weight-normal;
    font-size: 15px;
    text-decoration: none;
    color: white;
    line-height: 18px;
  }
  &__btn:hover{
    background-color: #d0c9cf;
    .purchase__btn{
      color: #806d79;
      font-weight: $font-weight-bold;
    }
  }
}
.active{
  position: relative;
  .pricing__section{
    margin-bottom: 14px;
  }
    .pricing___haeder{
      background-color: #392a3a;
      width: 299px;
      height: 111px;
    }
  .pricing__class{
    line-height: 111px;
  }
  .pricing__doll{
    font-size: 82px;
  }
  .pricing__cost{
    font-size: 82px;
  }
  .pricing__body{
    padding-bottom: 47px;
    padding-top: 15px;
    background-color: rgba(0, 0, 0, 0.13);
  }
  .pricing__btn{
    margin-top: 82px;
  }
}



@media screen and (min-width: 360px){
  .pricing {
    font-size: 28px;
    padding-bottom: 53px;
    line-height: 65px;
  }
}
@media screen and (min-width: 401px){
  .pricing{
    font-size: 42px;
    padding-bottom: 57px;
    line-height: 65px;
  }

}
@media screen and (min-width: 481px){
  .pricing{
    font-size: 42px;
    padding-bottom: 47px;
  }
}
@media screen and (min-width: 993px){
  .pricing{
    font-size: 48px;
    padding-bottom: 122px;
  }
}
@media screen and (min-width: 1201px){

}