.reviews {
  background-color: #ffffff;
  //padding-top: 40px;
  //padding-bottom: 42px;
  padding: 40px 25px 42px;
  @media screen and (min-width: 481px) {
    padding: 40px 74px 42px;
  }
  @media screen and (min-width: 993px) {
    padding: 40px 70px 42px;
  }
  &__carousel {
    @include flex-row-center;
  }
}

.carousel {
  @include flex-column-center;
  &-box {
    &__user-info {
      @include flex-column-center;
      @media screen and (min-width: 401px) {
        @include flex-row-center;
      }
    }

    &__img {
      width: 85px;
      height: 85px;
      border: 1px solid #ffffff;
      border-radius: 50%;
      @media screen and (min-width: 401px) {
        margin-right: 23px;
      }
    }

    &__user-name {
      font-family: $font-montserrat;
      font-weight: $font-weight-bold;
      color: $violet-dark;
      font-size: 24px;
      margin-top: 25px;
      text-align: left;

    }

    &__user-login {
      font-family: $font-montserrat;
      font-weight: $font-weight-normal;
      color: $violet-light;
      font-size: 16px;
      margin-top: 7px;
      text-align: left;
    }

    &__user-comment {
      font-family: $font-lato;
      font-weight: $font-weight-normal;
      color: $black;
      font-size: 17px;
      margin-top: 23px;
      text-align: center;
      padding: 0 15px;
      line-height: 30px;
    }

    &__comment-time {
      font-family: $font-montserrat;
      font-weight: $font-weight-normal;
      color: $grey;
      font-size: 16px;
      margin-top: 16px;
      text-align: center;

    }
  }
  &__btn {
    width: 9px;
    color: $grey;
    @include flex-row;
  }
}

.reviews__line {
  width: 70%;
  height: 1px;
  border: 0;
  border-top: 1px solid $black-light;
  padding: 0;
}

.social-links {
  @include flex-row-center;
  flex-wrap: wrap;

  & div {
    @include flex-column-center;
  }

  &__github {
    display: block;
    border: 1px solid $black-light;
    border-radius: 4px;
    padding-top: 17px;
    padding-bottom: 18px;
    text-align: center;
    background-color: $black-light;
    font-family: $font-montserrat;
    font-weight: $font-weight-normal;
    color: $black;
    font-size: 21px;
    position: relative;
    width: 280px;
    margin: 30px 20px 0;
    @media screen and (min-width: 481px) {
      width: 240px;
    }

    &:hover {
      background-color: #2b414d;
      color: $white;
    }
  }

  &__twitter {
    display: block;
    border: 1px solid $black-light;
    border-radius: 4px;
    padding-top: 17px;
    padding-bottom: 18px;
    text-align: center;
    background-color: #26a6d1;
    font-family: $font-montserrat;
    font-weight: $font-weight-normal;
    color: #ffffff;
    font-size: 21px;
    position: relative;
    width: 280px;
    margin: 30px 20px 0;
    @media screen and (min-width: 481px) {
      width: 240px;
    }

    &:hover {
      background-color: #ffffff;
      color: #26a6d1;
      border: 1px solid #26a6d1;
    }
  }

  &__facebook {
    display: block;
    border: 1px solid $black-light;
    border-radius: 4px;
    padding-top: 17px;
    padding-bottom: 18px;
    text-align: center;
    background-color: #3b5998;
    font-family: $font-montserrat;
    font-weight: $font-weight-normal;
    color: #ffffff;
    font-size: 21px;
    position: relative;
    width: 280px;
    margin: 30px 20px 0;
    @media screen and (min-width: 481px) {
      width: 240px;
    }

    &:hover {
      background-color: #ffffff;
      color: #3b5998;
      border: 1px solid #3b5998;
    }
  }
  .followers {
    font-family: $font-montserrat;
    font-weight: $font-weight-normal;
    color: $grey;
    font-size: 14px;
    margin-top: 18px;
  }

  .fa-github, .fa-twitter, .fa-facebook-f {
    position: absolute;
    left: 20px;
  }
}
