$font-monserat: "Montserrat", sant-serif;
$font-latto: "Lato", sant-serif;
$font-source: "Source Sans Pro", sant-serif;
$violet: #8d81ac;
$gray: #848e97;
$darkGray: #635c73;
$lightBlack: #323232;
$lightGray: #f3f3f3;

//@mixin flex-style {
//  display: flex;
//  flex-wrap: wrap;
//  flex-direction: row;
//  justify-content: center;
//  align-items: center;
//}
