$font-monserrat: "Montserrat", sant-serif;
$font-lato: "Lato", sant-serif;
$font-source: "Source Sans Pro", sant-serif;
$font-weight-bold: 700;
$font-weight-normal: 400;
$violet-dark: #635c73;
$violet-light: #8d81ac;
$gray: #848e97;
$black: #323232;
$black-light: #f3f3f3;




@import "vailet";
@import "haeder";
@import "haederHaed";
@import "editor";
@import "pricing";

