.body {
  max-width: 1200px;
  min-width: 320px;
}

.container{
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

//   variables:

$font-montserrat: "Montserrat", sans-serif;
$font-lato: "Lato", sans-serif;
$font-source: "Source Sans Pro", sant-serif;
$font-weight-bold: 700;
$font-weight-normal: 400;
$violet-dark: #635c73;
$violet-light: #8d81ac;
$grey: #848e97;
$black: #323232;
$black-light: #f3f3f3;
$white: #ffffff;

//   mixins:

@mixin flex-row-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}@mixin flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}


@mixin flex-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-row {
  display: flex;
  align-items: center;
}


//   imports:

@import "vailet";
@import "haeder";
@import "haederHaed";
@import "editor";
@import "features-section";
@import "reviews-section";
@import "pricing";
@import "callback-section";
@import "footer";
@import "mentions";